<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- @{}은 컨텍스트 루트 -->
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>

<body>
    <!-- 로그아웃 버튼 -->
    <div class="logout" th:if="${session.user} != null">
        <button class="logoutbtn" onclick="logout()">로그아웃</button>
    </div>
    <!-- 내용들 -->
    <div class="container">
        <!-- 타이틀 -->
        <h1 id="title" class="title"> 안녕하세요 Team5 페이지 입니다.</h1>
        <!-- 로그인 한 유저가 없으면 -->
        <div th:if="${session.user} == null">
            <div id="sign">
                <button class="btn2" onclick="location.href='/tmpl/user-info/login'"><span>로그인</span></button><br>
                <button class="btn2" onclick="location.href='/tmpl/user-info/join'"><span>회원가입</span></button>
            </div>
        </div>
        <!-- 로그인 한 유저가 있으면 -->
        <div th:if="${session.user} != null">
            <div class="introduce"> <span id="userName" th:text="${session.user.uiName}"></span>님 안녕하세요.</div> <br>
            <ul></ul>
            <div id="maxScore"></div>
            <!-- 마우스 커서 올리면 애니메이션 나오는 버튼 -->
            <button class="btn" onclick="gotoTetrisPage()"><span id="gameName">테트리스 하러 가기</span></button>
            <br>
            <button class="btn" onclick="location.href='/tmpl/user-info/rank'"><span id="ranking">테트리스 점수 보러가기</span></button><br>
            <button class="btn" onclick="gotoBreakWallPage()"><span id="gameName">벽돌깨기 하러 가기</span></button>
            <br>
            <button class="btn" onclick="location.href='/tmpl/user-info/rank2'"><span id="ranking2">벽돌깨기 점수 보러가기</span></button>
            
        </div>
    </div>
    <!-- 스크립트 넣기 싫엇는데 간단한 로직이라 그냥 여따 넣엇습니다. -->
    <script>
        let giNum;

        function gotoTetrisPage() {
            location.href = '/index2';
        }

        function gotoBreakWallPage() {
            location.href = '/index3';
        }

        function logout() {
            location.href = '/logout'
        }

        // window.addEventListener('load', async function(){
            
        //         const res = await fetch('/game-info');
        //         const game = await res.json();
        //         console.log(game);
        //         const spanText = document.querySelector('#gameName');
        //         let html = '';
        //         for(let key of game){
        //             let str = key.giName + ' 하러 가기';
        //             giNum = key.giNum;
        //             html += `<button class="btn" onclick="location.href='/index${giNum}'"><span id="gameName">${str}</span></button><br>`;
        //         }
        //         document.querySelector('#gamesLink').innerHTML = html;
        // });

        window.addEventListener('load', async function(){
            const res = await fetch('/point-infos/max?giNum=1');
            const point = await res.json();

            let html = `<span id="point">최대점수는 ${point.piPoint}점 입니다 </span>`
            document.querySelector('#maxScore').innerHTML = html;
        })
    </script>
</body>

</html>