<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <style>
      .balloon {
        display: inline-block;
        position: relative;
        background: #ccc;
        height: 70px;
        width: 120px;
        margin: 0 auto 10px;
        border-radius: 10px;
      }
      .balloon:after {
        content: '';
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        z-index: -1;
        background: #fff;
        bottom: -20px;
        left: 50px;
      }
      .balloon:before {
        content: '';
        position: absolute;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        z-index: -1;
        background: #ffffff;
        bottom: -15px;
        left: 35px;
      }
    </style>
  </head>

  <body>
    <div class="input-container">
      이름 : <input type="text" id="uiName" placeholder="이름" /> <br>
    </div>
    <div class="input-container">
      아이디 : <input type="text" id="uiId" placeholder="4자이상" pattern=".{4,}" title="4자 이상 입력해주세요." required /> <br>
    </div>
    <div class="input-container">
      비밀번호 : <input type="password" id="uiPwd" placeholder="특수기호 !@#$ 중 1개이상" pattern="^(?=.*[!@#$]).{1,}$" title="특수기호 !@#$ 중 1개 이상 입력해주세요." required > <br>
    </div>
    <div class="input-container">
      이메일 : <input type="text" id="uiEmail" placeholder="메일전송이 가능한 주소" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9.-]{2,}" title="유효한 이메일 주소를 입력해주세요." required />
    </div>
    <div class="input-container">
      휴대번호: <input type="text" id="uiMobile" placeholder="' - ' 없이 입력" pattern="[0-9]{3}[0-9]{4}[0-9]{4}" title="숫자 11자리를 입력해주세요." required /> <br>
    </div>
    <div class="input-container">
      생일 : <input type="text" id="uiBirth" placeholder="ex)1997-04-20" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" title="유효한 날짜 형식을 입력해주세요." required /> 
      <button id="uiBirthButton">달력</button> <br>
    </div>

    <button onclick="insertUser()">회원 등록</button>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      const birthInput = document.querySelector('#uiBirth');
      const birthButton = document.querySelector('#uiBirthButton');
      let calendar;
      let errorMessages = {};

      birthButton.addEventListener('click', function() {
        calendar = flatpickr("#uiBirth", {
          dateFormat: "Ymd",
          inline: true,
          onClose: function(selectedDates, dateStr, instance) {
            birthInput.value = dateStr;
            calendar.destroy();
          },
        });
      });

      async function insertUser() {
        const uiId = document.querySelector('#uiId');
        const uiPwd = document.querySelector('#uiPwd');
        const uiEmail = document.querySelector('#uiEmail');
        const uiMobile = document.querySelector('#uiMobile');
        const uiBirth = document.querySelector('#uiBirth');

        if (!uiId.checkValidity()) {
          showErrorMessage(uiId, "uiIdError", "4자 이상 입력해주세요.");
          return;
        }
        if (!uiPwd.checkValidity()) {
          showErrorMessage(uiPwd, "uiPwdError", "특수기호 !@#$ 중 1개 이상 입력해주세요.");
          return;
        }
        if (!uiEmail.checkValidity()) {
          showErrorMessage(uiEmail, "uiEmailError", "유효한 이메일 주소를 입력해주세요.");
          return;
        }
        if (!uiMobile.checkValidity()) {
          showErrorMessage(uiMobile, "uiMobileError", "번호 11자리를 입력해주세요.");
          return;
        }
        if (!uiBirth.checkValidity()) {
          showErrorMessage(uiBirth, "uiBirthError", "유효한 날짜 형식을 입력해주세요.");
          return;
        }

        const data = {
          uiName: document.querySelector('#uiName').value,
          uiId: uiId.value,
          uiPwd: uiPwd.value,
          uiEmail: uiEmail.value,
          uiMobile: uiMobile.value,
          uiBirth: uiBirth.value
        }

        const json = JSON.stringify(data);
        console.log(json);

        const res = await fetch("/user-infos", {
          method: "POST",
          headers: {
            "Content-Type": "application/json;charset=UTF-8",
          },
          body: json,
        });

        const result = await res.text();
        if (result == 1) {
          alert("등록되었습니다");
          location.href = "/tmpl/user-info/list";
        } else {
          alert("등록에 실패했습니다.");
        }
      }

      function showErrorMessage(inputField, errorId, message) {
        hideErrorMessage(errorId);
        const errorMessage = document.createElement('div');
        errorMessage.classList.add('error-message');
        errorMessage.textContent = message;
        inputField.parentNode.appendChild(errorMessage);
        errorMessages[errorId] = errorMessage;
        inputField.addEventListener('input', function() {
          hideErrorMessage(errorId);
        });
      }

      function hideErrorMessage(errorId) {
        const errorMessage = errorMessages[errorId];
        if (errorMessage) {
          errorMessage.remove();
          delete errorMessages[errorId];
        }
      }
    </script>
  </body>
</html>