<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3></h3>리스트</h3>
    <form>
        <input type="text" name="uiName" placeholder="이름" th:value="${param.uiName}">
        <button>검색</button>
    </form>
    <table border="1">
        <tr>
            <th>번호</th>
            <th>이름</th>
            <th>아이디</th>
            <th>제작일</th>
        </tr>
        <tbody id="UserBody">
        </tbody>
    </table>
    <script>
        window.addEventListener('load', async function(){
            const res = await fetch('/user-infos');
            const users = await res.json();
            let html = '';
            for(const user of users){
                html += '<tr>';
                html += `<td>${user.uiNum}</td>`;
                html += `<td>${user.uiName}</td>`;
                html += `<td>${user.uiId}</td>`;
                html += `<td>${user.credat}</td>`;
              //  html += `<td>${user.uiBirth}</td>`;
               // html += `<td>${user.uiEmail}</td>`;
               // html += `<td>${user.uiMobile}</td>`;
                html += '</tr>';
            }
            document.querySelector('#UserBody').innerHTML = html;
        })
    </script>
</body>
</html>