<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.team1.mapper.GameInfoMapper">
	<select id="selectGameInfos" resultType="com.game.team1.vo.GameInfoVO">
        SELECT GI_NUM, GI_NAME, GI_DESC, CREDAT, LMODAT FROM GAME_INFO
	</select>
</mapper>